DB_USER=your_user
DB_HOST=localhost
DB_NAME=your_db
DB_PASSWORD=your_password
DB_PORT=5432

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your_email@gmail.com
SMTP_PASSWORD=your_app_password
SMTP_FROM=SIGBA <your_email@gmail.com>

GOOGLE_APPLICATION_CREDENTIALS_JSON = 'Todo el contenido del archivo de credenciales .JSON de Google' (sin de las comillas en una sola linea);
SHEET_ID = El ID de la hoja de cálculo donde necesitamos los registros (Sin comillas)