<footer class="footer sm:footer-horizontal bg-base-200 text-base-content p-10">
  <aside class="flex items-center gap-5 sm:flex-row flex-col">
      <img src="./LogoUBlack.png" alt="" class="w-15">
      <div>
        <p>SIGBA: Sistema de Gestión de Bonos Alimentarios</p>
        <p>Universidad del Valle Sede Yumbo</p>
      </div>
  </aside>
  <nav>
    <h6 class="footer-title">Nuestras redes:</h6>
    <a class="link link-hover"><svg-Facebook /></a>
    <a class="link link-hover"><svg-instagram/></a>
    <a class="link link-hover"><svg-youtube /></a>
    <a class="link link-hover"><svg-internet/></a>
  </nav>

</footer>
