<footer class="footer sm:footer-horizontal bg-base-200 text-base-content p-10 justify-between">
  <aside class="flex items-center gap-5 sm:flex-row flex-col">
      <img src="./logoU80.webp" alt="" class="w-40">
      <div class="footer-title">
        <p><span class="font-bold">SIGBA:</span> Sistema de Gestión de Bonos Alimentarios</p>
        <p>Universidad del Valle Sede Yumbo</p>
      </div>
  </aside>
  <nav>
    <h6 class="footer-title mx-auto">Nuestras redes:</h6>
    <div class="flex gap-3 flex-wrap mx-auto">
      <div>
        <div class="mb-2">
          <a href="https://www.facebook.com/UniversidaddelValleYumbo" target="_blank" class="link link-hover"><svg-Facebook /></a>
        </div>
        <div>
          <a href="https://www.instagram.com/universidaddelvalleyumbo" target="_blank" class="link link-hover"><svg-instagram/></a>
        </div>
      </div>
      <div>
        <div class="mb-2">
          <a href="https://www.youtube.com/@UNIVALLESEDEYUMBO" target="_blank" class="link link-hover"><svg-youtube /></a>
        </div>
        <div>
          <a href="https://yumbo.univalle.edu.co/" target="_blank" class="link link-hover"><svg-internet/></a>
        </div>
      </div>
    </div>
  </nav>

</footer>
