<fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">
  <legend class="fieldset-legend">Login:</legend>

  <label class="label">Coódigo de estudiante completo:</label>
  <input type="number" class="input" placeholder="Código con el 20 y sin el programa" />

  <label class="label">Contraseña:</label>
  <input type="password" class="input" placeholder="Contraseña 8 digitos" />

  <button
  class="btn bg-red-600 hover:bg-red-700 text-white mt-4"
  routerLink="details"
  >Login</button>
</fieldset>
